.App {
  text-align: center;
}
h1{
  background-color: rgb(231, 211, 211);
  color: rgb(229, 157, 49);
  padding: auto;
  text-align: center;
}
#inputbox{
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 550px;
  width: 250px;
}
#btn{
 margin-left: 10px;
 padding: 7px 8px;
 font-size: 20px;
 border-radius: 8px;
 background-color: rgba(75, 181, 231, 0.229);
}
#render{
  text-align: center;
}
